.bg-dot-white{
    background-color: #232225;
    background-image: url("./img/dot.svg");
    background-size: 16px 16px;
    background-position: 6px 6px;
}

.bg-dot-black{
    background-color: black;
    background-image: url("./img/dotW.svg");
    background-size: 16px 16px;
    background-position: 6px 6px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

input{
    border-radius: 4px;
}

textarea{
    border-radius: 4px;
}